* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f2f3f7;
  min-height: 100vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 2em;
  background-color: transparent;
  cursor: pointer;
  padding: 1.25rem 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #5a84a2;
  font-size: 2rem;
  font-weight: 700;
}

.btn span {
  display: inline-block;
}

.btn--border-white {
  box-shadow: 
    0.125rem 0.125rem 0.5rem rgba(255, 255, 255, 1),
    0.125rem 0.125rem 0.5rem rgba(255, 255, 255, 1)
  ;
}

.btn--neumorphism {
  box-shadow: 
    -0.125rem -0.125rem 0.5rem rgba(255, 255, 255, 1),
    -0.125rem -0.125rem 0.75rem rgba(255, 255, 255, 0.5),
    inset 0.125rem 0.125rem 0.25rem rgba(255, 255, 255, 0.5),
    0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.15)
  ;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  box-shadow: 
    inset -0.125rem -0.125rem 0.5rem rgba(255, 255, 255, 1),
    inset -0.125rem -0.125rem 0.75rem rgba(255, 255, 255, 0.5),
    inset 0.125rem 0.125rem 0.25rem rgba(255, 255, 255, 0.5),
    inset 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.15)
  ;
}

.btn:hover span {
  transform: scale(0.98);
}