@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-dislay: swap;
  src: local(sans-serif),
    url('../fonts/Lato-Regular.ttf') format('truetype'),
    url('../fonts/Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-dislay: swap;
  src: local(sans-serif),
    url('../fonts/Lato-Bold.ttf') format('truetype'),
    url('../fonts/Lato-Bold.woff') format('woff');
}
