:root {
  --blue-100: rgb(19,20,25);
  --blue-200: rgb(90,132,162);
  --blue-300 : rgb(238, 241, 251); 
  --white-100: rgba(255, 255, 255, 0.1);
  --white-200: rgba(255, 255, 255, 0.5);
  --white-300: rgba(255, 255, 255, 1);
  --black-100: rgb(17,17,17);
  --black-200: rgba(0, 0, 0, 0.15);
  --black-300: rgba(0, 0, 0, 0.8);
  
  /* USE CASES */
  --body-background-color: var(--blue-300);
  --body-color: var(--black-100);
  --card-background-color: var(--blue-300);
  --box-color: var(--blue-200);
  --light-box-shadow-1: var(--white-300);
  --light-box-shadow-2: var(--white-200);
  --light-box-shadow-3: var(--light-box-shadow-2);
  --light-box-shadow-4: var(--black-200);
  --light-box-shadow:
    -0.125rem -0.125rem 0.5rem var(--light-box-shadow-1),
    -0.125rem -0.125rem 0.75rem var(--light-box-shadow-2),
    inset 0.125rem 0.125rem 0.25rem var(--light-box-shadow-3),
    0.125rem 0.125rem 0.5rem var(--light-box-shadow-4)
    ;
  --light-box-shadow-inset:
    inset -0.125rem -0.125rem 0.5rem var(--light-box-shadow-1),
    inset -0.125rem -0.125rem 0.75rem var(--light-box-shadow-2),
    inset 0.125rem 0.125rem 0.25rem var(--light-box-shadow-3),
    inset 0.125rem 0.125rem 0.5rem var(--light-box-shadow-4)
    ;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-background-color);
  padding: 1rem;
  min-height: 100vh;
  color: var(--body-color);
  font-family: 'Lato';
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.card {
  border-radius: 1em;
  box-shadow: var(--light-box-shadow);
  background-color: var(--card-background-color);
  padding: 2rem;
  width: 100%;
  max-width: 31.25rem;
}

.box {
  display: inline-block;
  border: none;
  border-radius: 1em;
  box-shadow: var(--light-box-shadow);
  background-color: transparent;
  padding: 0.8rem;
  color: var(--box-color);
}

.box--btn {
  cursor: pointer;
}

.box--time {
  letter-spacing: 0.1em;
  font-size: 1.8rem;
  font-weight: 700;
}

.box--btn:focus-visible {
  outline: 0.3125rem dashed var(--black-100);
  outline-offset: 0.25rem;
}

.box--btn:hover,
.box--btn:focus,
.box--btn:active {
  box-shadow: var(--light-box-shadow-inset);
}

.box--btn:disabled {
  box-shadow: var(--light-box-shadow-inset);
  pointer-events: none;
  transform: scale(0.9);
}

.stopwatch__theme-github {
  display: flex;
  justify-content: space-between;
}

.stopwatch__list {
  display: flex;
  justify-content: center;
  padding: 6rem 0;
}

.stopwatch__colon {
  margin: 0 0.4rem;
  font-size: 1.8rem;
  font-weight: 700;
}